


<div class="mw9 center ph3-ns">
	<div class="cf ph2-ns">
		<div class="fl w-10 w-10-ns pa2">
		</div>
		<div class="fl w-80 w-80-ns pa2">
			<article class="helvetica pb5">
				<header class="vh-25 w-100">
					<div 
					style="background:url(http://mrmrs.github.io/photos/display.jpg) no-repeat center bottom ;background-size: cover;" 
					class="v-mid cover ph1 ph4-m ph5-l br4 w-100 cl">
						<h1 class="f3 pt5 fw9 white tc tracked">Welcome to the photo managemeent App!</h1>
						<h1 class="f4 pb5 fw4 white tc">You'll love managing  Photos with our application Sign in </h1>
					</div>
				</header>
			</article>
		</div>
		<div class="fl w-10 w-10-ns pa2">
		</div>
	</div>

	<div class="cf ph2-ns">
		<div class="fl w-20 w-20-ns pa2">
		</div>

		<div class="fl w-30 w-30-ns pa2">
			<h1 class="pl3 f4 fw9 black tracked">Premium Plan</h1>
			<ul class="pl4 fw2 black flex-column">
				<li>
					<div class="fr dib pr5">Price 10$</div>
					Unlimited image Uploads
				</li>

				<li>
					Responsive design
				</li>
				<li>
					Accces anywhere
				</li>
				<a class="f6 fw6 grow no-underline br3 ph4 pv2 mt4 dib white bg-blue ml3" href="#0">Sign up</a>
 
			</ul>

		</div>
		<div class="fl w-30 w-30-ns pa2">
			<h1 class="pl3 f4 fw9 black tracked">Amaze Plan</h1>
			<ul class="pl4 fw2 black flex-column">
				<li>
					<div class="fr dib pr5">Price 20$</div>
					Unlimited image Uploads
					
				</li>

				<li>
					Responsive design
				</li>
				<li>
					Accces anywhere
				</li>
				<li>
					Unlimited projects
				</li>
			</ul>
			<a class="f6 fw6 grow no-underline br3 ph4 pv2 mb3 mt3 dib white bg-blue ml3" href="#0">Sign up</a>
 
		</div>


		<div class="fl w-20 w-20-ns pa2">
		</div>
	</div>
</div>

