

<% if flash.any? %>
	<div class="mw9 center ph3-ns">	
		<div class="cf ph2-ns">
			<div class="fl w-20 w-20-ns pa2">			
			</div>
			<div class="fl w-60 w-60-ns pa2">								
				<div class="lh-title f3 tc">
					<p class="notice ma2"><%= notice %></p>
				</div>
				<div class="lh-title f3 tc">
					<p class="alert ma2"><%= alert %></p>
				</div>

		
			</div>
			<div class="fl w-20 w-20-ns pa2">	
			</div>
		</div>
	</div>
<% end %>